@page
@using ContosoCrafts.WebSite.Services
@inject JsonFileProductService ProductService
@model ContosoCrafts.WebSite.Pages.Product.IndexModel

@{
    ViewData["Title"] = "Create page";
}
<h1>@ViewData["Title"]</h1>

<p>This is the Create page.</p>
