@page
@model ContosoCrafts.WebSite.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}

<body>

<h1>@ViewData["Title"]</h1>

<p><strong class="format-logo">Cherry-Pick</strong> is a user-centric dinning experience sharing community for Seattleites.</p>

<p>
    Different from traditional restaurant discover websites, <strong class="format-logo">Cherry-Pick</strong> ranks the
    restaurant based on top liked recommended posts in this community.
</p>
<p>
    Its rating system is humanity and foodie care. You can find ‘my peer rating’,
    ‘Same interest rating’ or even ‘my following rating’ in <strong class="format-logo">Cherry-Pick</strong>.
</p>
<p>
    All of the ratings will show as and these cute little cherry icons will guide you to
    your favorite dining places!
</p>
<p>
    Business users (restaurants) can also register and track their restaurant’s current and
    historical popularity trends.
</p>
<p>
    <strong class="format-logo">Cherry-Pick</strong> can also show personalized recommendations to users based on their activities
    on the website.
</p>

</body>

<h3>Team Member</h3>
<p>Yanqing(Florence) Xie</p>
<p>Contact: <a href="https://github.com/florencexieee">Florence's GitHub</a></p>
<p>Ziqi(Elbie) Li</p>
<p>Contact: <a href="https://github.com/ElbieLi">Elbie's GitHub</a></p>
<p>Bakyadevi Ray</p>
<p>Contact: <a href="https://github.com/bakyadevi">Bakyadevi's GitHub</a></p>
<p>Robert Brown</p>
<p>Contact: <a href="https://github.com/brownr4000">Bob's GitHub</a></p>