@page
@model ContosoCrafts.WebSite.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>Cherry-Pick is a user-centric dinning experience sharing community for Seattleites.</p>
<p>
    Different from traditional restaurant discover websites, Cherry-Pick ranks the
    restaurant based on top liked recommended posts in this community.
</p>
<p>
    Its rating system is humanity and foodie care. You can find ‘my peer rating’,
    ‘Same interest rating’ or even ‘my following rating’ in Cherry-Pick.
</p>
<p>
    All of the ratings will show as and these cute little cherry icons will guide you to
    your favorite dining places!
</p>
<p>
    Business users (restaurants) can also register and track their restaurant’s current and
    historical popularity trends.
</p>
<p>
    Cherry-Pick can also show personalized recommendations to users based on their activities
    on the website.
</p>

