@page
@using ContosoCrafts.WebSite.Components
@model IndexModel
@{
    ViewData["Title"] = "ACES Project";
}

<h1>ACES</h1>
<h2>CPSC 5110 21FQ</h2>
<h3>Florence Xie, Bakyadevi Ray, Elbie Li, Bob Brown</h3>

/// <summary>
/// Bob Brown
/// </summary>

@(await Html.RenderComponentAsync<ProductList>(RenderMode.ServerPrerendered))

<script src="_framework/blazor.server.js"></script>