@using ContosoCrafts.WebSite.Models
@using ContosoCrafts.WebSite.Services
@using Microsoft.AspNetCore.Components.Web
@inject JsonFileProductService ProductService


<div>
    <div class="row">
        <div class="col">
            <input type="text" @onchange="(e) => UpdateFilterText(e.Value.ToString())" value="@FilterDataString" />
            <button @onclick="(e => EnableFilterData())" class="btn btn-success">Filter</button>
            <button @onclick="(e => ClearFilterData())" class="btn btn-danger">Clear</button>
        </div>
    </div>

</div>

<div>
    <div class="card-columns">
        @{
            var productList = ProductService.GetAllData();

            // If filter is enabled, reduce the data set to the filter string
            if (FilterData)
            {
                productList = productList.Where(m => m.Title.Contains(FilterDataString));
            }

            foreach (var product in productList)
            {
                <div class="card">
                    <div class="card-img" style="background-image: url('@product.Image');">
                    </div>
                    <div class="card-body">
                        @*<h5 class="card-title">@product.Title</h5>*@
                        <button type="button" class="card-link btn btn-dark" onclick="location.href='./Restaurants/Restaurants/@product.Id'">
                            @product.Title
                        </button>
                    </div>
                </div>
            }
        }
    </div>
</div>



<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

@code
{
    ProductModel selectedProduct;
    string selectedProductId;

    int currentRating = 0;
    int voteCount = 0;
    string voteLabel;

    // New Comment Flag to show the input box or not
    bool NewComment = false;

    // Next Comment Text is what the comment text is
    string NewCommentText = "";

    string FilterDataString = "";
    bool FilterData = false;

    void UpdateFilterText(string text)
    {
        FilterDataString = text;
    }

    void EnableFilterData()
    {
        // If the Filter is enabled, set the filter flag
        FilterData = true;
    }

    void ClearFilterData()
    {
        // If the Filter is enabled, set the filter flag
        FilterData = false;
    }

}